body {
	text-align: center;
	font-family: "Segoe UI", "Helvetica Neue", "Droid Sans", sans-serif;
	font-size: 11pt;
	line-height: 18pt;
	margin: 0;
	padding: 0;
	padding-left: 2px;

	background-image:
		linear-gradient(rgba(255,255,255,0), #fff),
		linear-gradient(#fff, #fff),
		linear-gradient(#ccc 1px, transparent 1px),
		linear-gradient(90deg, #ccc 1px, transparent 1px),
		linear-gradient(#eee 1px, transparent 1px),
		linear-gradient(90deg, #eee 1px, transparent 1px);
	background-size: 100% 400pt, 100% 100%, 90pt 90pt, 90pt 90pt, 18pt 18pt, 18pt 18pt;
	background-position: 0 0, 0 400pt, 50% 0pt, 50% 0, 50% 0, 50% 0;
	background-repeat: repeat-x, repeat-x, repeat, repeat, repeat, repeat;
}

h1, h2, h3 { font-weight: lighter; }
h1 { margin-top: 0pt; margin-bottom: 0; font-size: 60pt; color: #48D; text-shadow: #000 0 -1px 0; line-height: 84pt;}
h2 { margin-top: 36pt; font-size: 18pt; line-height: 24pt;}
h1 + h2 { margin-top: 5pt; margin-bottom: 18pt; }

h2 em { color: #48C; font-style: normal; font-weight: normal; }

a { color: #44D; text-decoration: none; }
a:hover { text-decoration: underline; }

pre {
	margin: 0 auto;
	max-width: 400pt;
	overflow: auto;
	padding: 1pt 9pt;
	line-height: 12pt;
	text-align: left;
	background-color: #222;
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.1)), linear-gradient(to bottom right, #343434, #202020);
	background-size: 100% 24pt, 100% 100%;
	background-position: 0 2pt;
	box-shadow: #aaa 0 8pt 32pt;
	color: #ddd;
	tab-size: 3; -o-tab-size: 3; -moz-tab-size: 3;
}

p { max-width: 500pt; margin: 0 auto; margin-bottom: 24pt; }

dl { text-align: left; max-width: 500pt; margin: 0 auto; }
dt { display: inline-block; float: left;}

code { font-family: "Consolas", "Courier New", monospace; }
code .tag { color: #D26; font-weight: bold; }
code .str { color: #EA4; }
code .num { color: #B7F;}
code .kwd { color: #BE8;}
code .att { color: #8AF;}
code .cmt { color: #908880; }

ul.links { list-style: none; padding: 0; }
ul.thumbs { max-width: 500pt; margin: 0 auto; padding: 0; }
ul.thumbs li { list-style: none; display: inline-block; margin: 12pt 12pt; font-size: 22pt; }
ul.thumbs li img { vertical-align: middle; }
ul.thumbs li a { text-decoration: none; color: black; }


dl {
	margin: 0 auto;
	max-width: 400pt;
}
dl > dt { display: inline; margin: 0; }
dl > dd { display: inline; margin: 0; }
dl > dd:before { content: " – "; }

.impl { display: none; }
.copy { font-size: 75%; color: #bbb; margin-top: 24pt; }
.footnotes { font-size: 75%; color: #bbb; }
.footnote { font-size: 60%; vertical-align: super; }